// Variables
$sides: (top, bottom, left, right);
$flex-alignments: (flex-start, flex-end, center, space-between, space-around, space-evenly);
$flex-directions: (row, column, row-reverse, column-reverse);
$flex-wraps: (wrap, nowrap, wrap-reverse);
$positions: (static, relative, absolute, fixed, sticky);
$decorations: (underline, overline, none);
$mp-step: 16;
$z-step: 200;
$n: 10;

// Styles framework
body {
  margin: 0;
}

* {
  position: relative;
}

// root component
#app {
  .mbs-0 {
    margin-block-start: 0 !important;
  }

  .mbe-0 {
    margin-block-end: 0 !important;
  }

  .grid {
    display: grid;
  }

  @for $i from 2 through $n {
    .cols-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  .col-1 {
    grid-auto-columns: 1fr;
  }

  // z-index
  @for $i from 0 through $n {
    .zi-#{$i} {
      z-index: #{$i * $z-step};
    }
  }

  // margin padding
  @for $i from 0 through $n {
    .m-#{$i} {
      margin: #{$i * $mp-step}px;
    }

    .p-#{$i} {
      padding: #{$i * $mp-step}px;
    }
  }

  @for $i from 0 through $n {
    @each $side in $sides {
      .m#{str-slice($side, 0, 1)}-#{$i} {
        margin-#{$side}: #{$i * $mp-step}px;
      }

      .p#{str-slice($side, 0, 1)}-#{$i} {
        padding-#{$side}: #{$i * $mp-step}px;
      }
    }
  }

  // flex
  .flex {
    display: flex;
  }

  // flex alignments
  @each $alignment in $flex-alignments {
    .ai-#{$alignment} {
      align-items: #{$alignment};
    }

    .jc-#{$alignment} {
      justify-content: #{$alignment};
    }
  }

  // flex directions
  @each $fd in $flex-directions {
    .fd-#{$fd} {
      flex-direction: #{$fd};
    }
  }

  // flex grow
  @for $i from 0 through $n {
    .fg-#{$i} {
      flex-grow: #{$i};
    }
  }

  // flex
  @for $i from 0 through $n {
    .f-#{$i} {
      flex: #{$i};
    }
  }

  .f-auto {
    flex: auto;
  }

  // flex wrap
  @each $fw in $flex-wraps {
    .fw-#{$fw} {
      flex-wrap: #{$fw};
    }
  }

  // positions
  @each $p in $positions {
    .pos-#{$p} {
      position: #{$p};
    }
  }

  // text decorations
  @each $d in $decorations {
    .td-#{str-slice($d, 0, 1)} {
      text-decoration: #{$d};
    }
  }

  img {
    display: block;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }

  li {
    list-style: url("/assets/chevron-right-12.svg");
  }

  .h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  .h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  .h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  .h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  .h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  .h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  .p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 1em;
    font-weight: normal;
  }
}
